.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.files {
  display: flex;
  flex-direction: column;
  width: 40%;
  align-content: center;
  background-color: lightgray;
  padding: 0.5em;
  margin: auto;
  border-radius: 0.5em;
  margin-top: 5em;
}

.files button {
  background-color: whitesmoke;
  border: 1px solid darkgrey;
  border-radius: 1em;
  padding: 0.5em;
  font-size: 16px;
}

.files ul {
  background-color: whitesmoke;
}

.files li {
  border-bottom: 1px solid darkgray;
}
